[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp-devtools = "*"
aiohttp-session = "*"
asyncpg = "*"
uvloop = "*"
click = "*"
python-dotenv = "*"
attrs = "*"
pyjwt = "*"
ujson = "*"

[dev-packages]
ptvsd = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-aiohttp = "*"
docker = "*"
invoke = "*"
aiohttp-devtools = "*"
ipython = "*"

[requires]
python_version = "3.7"
